USE [banhDao]
GO
/****** Object:  Table [dbo].[account]    Script Date: 7/28/2020 4:18:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[account](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[account_detail_id] [int] NOT NULL,
	[email] [nvarchar](100) NULL,
	[password] [nvarchar](100) NULL,
	[status] [int] NULL,
 CONSTRAINT [PK_account] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[account_detail]    Script Date: 7/28/2020 4:18:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[account_detail](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NULL,
	[mobile] [nvarchar](50) NULL,
	[gender] [int] NULL,
	[address] [nvarchar](500) NULL,
 CONSTRAINT [PK_account_detail] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[category]    Script Date: 7/28/2020 4:18:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[category](
	[id] [int] NOT NULL,
	[name] [nchar](1000) NULL,
 CONSTRAINT [PK_category] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[customer_info]    Script Date: 7/28/2020 4:18:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[customer_info](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NULL,
	[mobile] [nvarchar](15) NULL,
	[email] [nvarchar](150) NULL,
	[address] [nchar](2000) NULL,
 CONSTRAINT [PK_customer_info] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[images]    Script Date: 7/28/2020 4:18:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[images](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[product_id] [int] NULL,
	[imgName] [nchar](1000) NULL,
	[picture_cover] [bit] NULL,
 CONSTRAINT [PK_images] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[order]    Script Date: 7/28/2020 4:18:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[order](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[customer_info_id] [int] NULL,
	[total_price] [decimal](18, 0) NULL,
	[note] [nvarchar](500) NULL,
	[create_date] [date] NULL,
	[status] [int] NULL,
	[account_id] [int] NULL,
 CONSTRAINT [PK_order] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[order_detail]    Script Date: 7/28/2020 4:18:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[order_detail](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[order_id] [int] NULL,
	[product_id] [int] NULL,
	[product_name] [nvarchar](50) NULL,
	[product_price] [decimal](18, 0) NULL,
	[quantity] [int] NULL,
 CONSTRAINT [PK_order_detail] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[products]    Script Date: 7/28/2020 4:18:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[products](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[category_id] [int] NULL,
	[name] [nvarchar](200) NULL,
	[price] [float] NULL,
	[description] [nvarchar](2000) NULL,
	[status] [int] NULL,
 CONSTRAINT [PK_products] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[account] ON 

INSERT [dbo].[account] ([id], [account_detail_id], [email], [password], [status]) VALUES (7, 7, N'vvv@gmail.com', N'123456', 1)
INSERT [dbo].[account] ([id], [account_detail_id], [email], [password], [status]) VALUES (8, 8, N'vvv123@gmail.com', N'111111', 1)
INSERT [dbo].[account] ([id], [account_detail_id], [email], [password], [status]) VALUES (9, 9, N'vvv456@gmail.com', N'222222', 1)
SET IDENTITY_INSERT [dbo].[account] OFF
SET IDENTITY_INSERT [dbo].[account_detail] ON 

INSERT [dbo].[account_detail] ([id], [name], [mobile], [gender], [address]) VALUES (7, N'vvv123', N'123123', 0, N'Hà Nội')
INSERT [dbo].[account_detail] ([id], [name], [mobile], [gender], [address]) VALUES (8, N'hvn', N'0378872222', 1, N'Hà Nội')
INSERT [dbo].[account_detail] ([id], [name], [mobile], [gender], [address]) VALUES (9, N'VietNH', N'0378872222', 0, N'Hà Nội')
SET IDENTITY_INSERT [dbo].[account_detail] OFF
SET IDENTITY_INSERT [dbo].[customer_info] ON 

SET IDENTITY_INSERT [dbo].[customer_info] OFF
SET IDENTITY_INSERT [dbo].[images] ON 

SET IDENTITY_INSERT [dbo].[images] OFF
SET IDENTITY_INSERT [dbo].[order] ON 

INSERT [dbo].[order] ([id], [customer_info_id], [total_price], [note], [create_date], [status], [account_id]) VALUES (16, 5, CAST(69276105 AS Decimal(18, 0)), N'', CAST(N'2020-07-21' AS Date), 2, 7)
INSERT [dbo].[order] ([id], [customer_info_id], [total_price], [note], [create_date], [status], [account_id]) VALUES (17, 6, CAST(1895075 AS Decimal(18, 0)), N'Ship COD', CAST(N'2020-07-21' AS Date), 2, 7)
INSERT [dbo].[order] ([id], [customer_info_id], [total_price], [note], [create_date], [status], [account_id]) VALUES (18, 7, CAST(69240818 AS Decimal(18, 0)), N'afasasf', CAST(N'2020-07-21' AS Date), 2, 10)
SET IDENTITY_INSERT [dbo].[order] OFF
SET IDENTITY_INSERT [dbo].[order_detail] ON 

INSERT [dbo].[order_detail] ([id], [order_id], [product_id], [product_name], [product_price], [quantity]) VALUES (9, 16, 1, N'Amazin’ Glazin’', CAST(362684 AS Decimal(18, 0)), 5)
INSERT [dbo].[order_detail] ([id], [order_id], [product_id], [product_name], [product_price], [quantity]) VALUES (10, 16, 3, N'The Crusty Croissant', CAST(67462685 AS Decimal(18, 0)), 1)
INSERT [dbo].[order_detail] ([id], [order_id], [product_id], [product_name], [product_price], [quantity]) VALUES (11, 17, 23, N'Anytime Cakes', CAST(346346 AS Decimal(18, 0)), 1)
SET IDENTITY_INSERT [dbo].[order_detail] OFF
SET IDENTITY_INSERT [dbo].[products] ON 

INSERT [dbo].[products] ([id], [category_id], [name], [price], [description], [status]) VALUES (1, 1, N'Amazin’ Glazin’', 362684, N'Sweet', 1)
INSERT [dbo].[products] ([id], [category_id], [name], [price], [description], [status]) VALUES (3, 3, N'The Crusty Croissant', 67462685, N'Sugary', 1)
INSERT [dbo].[products] ([id], [category_id], [name], [price], [description], [status]) VALUES (4, 4, N'Pastry Emporium', 2314782, N'Tastefull', 0)
SET IDENTITY_INSERT [dbo].[products] OFF
ALTER TABLE [dbo].[order] ADD  CONSTRAINT [DF_order_create_date]  DEFAULT (getdate()) FOR [create_date]
GO
ALTER TABLE [dbo].[account]  WITH CHECK ADD  CONSTRAINT [FK_account_account_detail] FOREIGN KEY([account_detail_id])
REFERENCES [dbo].[account_detail] ([id])
GO
ALTER TABLE [dbo].[account] CHECK CONSTRAINT [FK_account_account_detail]
GO
ALTER TABLE [dbo].[images]  WITH CHECK ADD  CONSTRAINT [FK_images_products] FOREIGN KEY([product_id])
REFERENCES [dbo].[products] ([id])
GO
ALTER TABLE [dbo].[images] CHECK CONSTRAINT [FK_images_products]
GO
ALTER TABLE [dbo].[order]  WITH CHECK ADD  CONSTRAINT [FK_order_account] FOREIGN KEY([account_id])
REFERENCES [dbo].[account] ([id])
GO
ALTER TABLE [dbo].[order] CHECK CONSTRAINT [FK_order_account]
GO
ALTER TABLE [dbo].[order]  WITH CHECK ADD  CONSTRAINT [FK_order_account1] FOREIGN KEY([account_id])
REFERENCES [dbo].[account] ([id])
GO
ALTER TABLE [dbo].[order] CHECK CONSTRAINT [FK_order_account1]
GO
ALTER TABLE [dbo].[order]  WITH CHECK ADD  CONSTRAINT [FK_order_customer_info] FOREIGN KEY([customer_info_id])
REFERENCES [dbo].[customer_info] ([id])
GO
ALTER TABLE [dbo].[order] CHECK CONSTRAINT [FK_order_customer_info]
GO
ALTER TABLE [dbo].[order_detail]  WITH CHECK ADD  CONSTRAINT [FK_order_detail_order] FOREIGN KEY([order_id])
REFERENCES [dbo].[order] ([id])
GO
ALTER TABLE [dbo].[order_detail] CHECK CONSTRAINT [FK_order_detail_order]
GO
ALTER TABLE [dbo].[products]  WITH CHECK ADD  CONSTRAINT [FK_products_category] FOREIGN KEY([category_id])
REFERENCES [dbo].[category] ([id])
GO
ALTER TABLE [dbo].[products] CHECK CONSTRAINT [FK_products_category]
GO
